head
  title WORDDROP

body
  +start

template(name="start")
  section
    div
      h1 Words
      ul#words
        each words
          li(data-id=_id) {{word}}
    div
      h1 Sentence
      ul#sentence
        each sentence
          li(data-id=_id) {{word}}


