.ui.label {
 margin: 0.1em 0em;
}

.ui.inverted.attached.segment {
 padding-top: 20px;
}

.ui.menu .header .subheader {
 font-weight: normal;
 color: wheat;
}

.ui.menu:first-child {
 margin-top: 0.8rem;
}